#EXTM3U
#EXTINF:-1,RTP 1
http://ift.tt/1JWYS9m
#EXTINF:-1,RTP 2
http://ift.tt/1HlVUFq
#EXTINF:-1,SIC
http://ift.tt/1JWYUyb
#EXTINF:-1,TVI
http://ift.tt/1HlVX4a
#EXTINF:-1,SIC NOTICIAS
http://ift.tt/1JWYS9q
#EXTINF:-1,TVI 24
http://ift.tt/1HlVX4c
#EXTINF:-1,RTP INFORMACAO
http://ift.tt/1HlVUFv
#EXTINF:-1,TV GLOBO PORTUGAL
http://ift.tt/1HlVUFz
#EXTINF:-1,RTP ACORES ( Canal On Line )
http://ift.tt/1JWYS9y
#EXTINF:-1,RTP MADEIRA ( Canal On Line )
http://ift.tt/1HlVUFB
#EXTINF:-1,SPORT TV 1
http://ift.tt/1JWYUyg
#EXTINF:-1,SPORT TV 2
http://ift.tt/1HlVUFE
#EXTINF:-1,SPORT TV 3
http://ift.tt/1JWYUyh
#EXTINF:-1,SPORT TV 4
http://ift.tt/1HlVX4k
#EXTINF:-1,SPORT TV 5
http://ift.tt/1JWYUOw
#EXTINF:-1,SPORT TV 1 HD
http://ift.tt/1HlVUFF
#EXTINF:-1,BENFICA TV 1
http://ift.tt/1JWYSpS
#EXTINF:-1,BENFICA TV 2
http://ift.tt/1HlVUFH
#EXTINF:-1,SPORTING TV
http://ift.tt/1JWYUOz
#EXTINF:-1,DISNEY
http://ift.tt/1HlVUFJ
#EXTINF:-1,PANDA
http://ift.tt/1HlVUVX
#EXTINF:-1,PANDA BIGGS
http://ift.tt/1HlVX4n
#EXTINF:-1,DISNEY JUNIOR
http://ift.tt/1JWYSq2
#EXTINF:-1,SIC K
http://ift.tt/1HlVXkB
#EXTINF:-1,BABY TV
http://ift.tt/1JWYUOF
#EXTINF:-1,CARTOON NETWORK
http://ift.tt/1HlVUW1
#EXTINF:-1,JIM JAM
http://ift.tt/1JWYSq5
#EXTINF:-1,TVCINE 1
http://ift.tt/1HlVUW3
#EXTINF:-1,TVCINE 2
http://ift.tt/1JWYSq7
#EXTINF:-1,TVCINE 3
http://ift.tt/1HlVXkH
#EXTINF:-1,TVCINE 4
http://ift.tt/1JWYSq8
#EXTINF:-1,AXN SD
http://ift.tt/1HlVUW4
#EXTINF:-1,FOX
http://ift.tt/1JWYUON
#EXTINF:-1,RTP INTERNACIONAL ( Canal On Line )
http://ift.tt/1HlVXkL
#EXTINF:-1,RTP AFRICA ( Canal On Line )
http://ift.tt/1HlVXkN
#EXTINF:-1,RTP MEMORIA ( Canal On Line )
http://ift.tt/1JWYY0Q
#EXTINF:-1,TV RECORD PORTUGAL
http://ift.tt/1JWYV52
#EXTINF:-1,ETV ( Canal On Line )
http://ift.tt/1HlVXB6
#EXTINF:-1,TVE 24 ( Canal On Line )
http://ift.tt/1JWYV54
#EXTINF:-1,HOT
http://ift.tt/1HlVUW5
#EXTINF:-1,PLAYBOY
http://ift.tt/1JWYY0U
#EXTINF:-1,VENUS
http://ift.tt/1HlVXBb
